name: Publish Package to npmjs

on:
  release:
    types: [created]

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - run: npm install -g npm@^11
      - run: npm ci
      - run: npm run build
      - name: publish to npm
        run: |
          TAG="${GITHUB_REF_NAME}"

          if [[ "$TAG" == *"-beta."* ]]; then
            npm publish --tag beta
          elif [[ "$TAG" == *"-rc."* ]]; then
            npm publish --tag rc
          else
            npm publish
          fi